<!--COMPONENTE RAIZ-->

<h1>Esse é o meu template principal</h1>


    <nav>
         <!-- routerLink: permite a navegação entre diferentes viwes de uma aplicação sem recarregar a página inteira.
         É usado principalmente em elementos de âncora (<a>), substituindo o atributo href. -->
        <a routerLink="hello-world" routerLinkActive="active">Hello World</a>
        <a routerLink="data-binding" routerLinkActive="active">Data Binding</a>  
        <a routerLink="directives" routerLinkActive="active">Directives</a>  
        <a routerLink="customers" routerLinkActive="active">Lista de Clientes</a>
        <a routerLink="reactive-form" routerLinkActive="active">Reactive Form</a> 
        <a routerLink="template-form" routerLinkActive="active">Template Form</a> 
        <a routerLink="weather" routerLinkActive="active">Weather</a>   
        <a routerLink="pipes" routerLinkActive="active">Pipes</a>    
    </nav>
    <!-- O routerLinkActive: permite adicionar ou remover classes CSS de um elemento HTML com base no estado atual da rota. 
     Quando a rota associada ao elemento está ativa, a diretiva aplica as classes especificadas ao elemento. -->    
  
<!--<router-outlet />: tag usada para carregar dinamicamente diferentes componentes com base na rota 
atual da URL, permitindo que a aplicação tenha múltiplas visualizações ou páginas sem a 
necessidade de recarregar a página inteira.-->
<router-outlet />

<p>aqui é o final do template principal</p>

<!-- $event nesse contexto representa o objeto de evento que é passado para a função de manipulador de eventos.
Contém informações sobre o evento que ocorreu, como o tipo de evento (por exemplo, clique, tecla pressionada), o alvo do 
evento (o elemento que disparou o evento), e outras propriedades específicas do evento. -->
<p>Posso acessar o Data Binding? <input type="checkbox" [checked]="podeAcessar" (change)="alterarAcesso($event)"></p>
